const port = process.env.PORT | 3010;
const host = process.env.HOST || 'localhost';

module.exports = {
    swaggerDefinition: { 
        info: {
          version: "1.0.0",
          title: "Star Wars Planet API",
          description: "API para ser utilizada na Jogo de Star Wars ",
          contact: {
            name: "Fellipe Maia"
          },
          servers: ["http://"+host+":"+port]
        }
    },
    apis: ['./app/src/routes.js']
}